<div class='w-full flex flex-col gap-2 px-10'>
  <div class='w-full flex flex-col gap-2 border-2 px-10 py-5'>
    <%= render partial: 'partials/events/card', locals: { event: @event } %>
    <%= render partial: 'partials/buttons/attendance_buttons', locals: { event: @event } %>
  </div>

  <div id="<%= dom_id @event %>_attendees" class='w-full flex flex-col gap-2 px-10 py-5'>
    <% @attendees.each do |attendee| %>
      <%= render partial: 'partials/attendees/card', locals: { attendee: attendee } %>
    <% end %>
  </div>
</div>